<h1  style="margin: 10px 40px">Facturas registradas</h1>

<mat-card style="margin: 10px 40px 40px;">
  <mat-card-content class="dashboard-card-content">

    <form class="example-form" [formGroup]="formSearch" (ngSubmit)="search()">
      <mat-grid-list cols="4" rowHeight="80px">

        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Buscar Por</mat-label>
            <mat-select formControlName="buscarPor">
              <mat-option *ngFor="let item of searchOptions" [value]="item.value">
                {{item.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <div *ngIf="formSearch.value.buscarPor=='codigo'">
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Código de Transacción</mat-label>
              <input matInput formControlName="codigo">
            </mat-form-field>
          </mat-grid-tile>
        </div>

        <div *ngIf="formSearch.value.buscarPor=='fecha'">
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Fecha Inicio</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="fechaInicio">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Fecha Fin</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="fechaFin">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
        </div>

        <mat-grid-tile>
          <button mat-raised-button color="primary" style="width: 60%; margin-right: 1rem;" type="submit"><mat-icon>search</mat-icon> Buscar</button>
          <button mat-raised-button color="warn" style="width: 30%;" type="button" (click)="reset()"><mat-icon>search</mat-icon> Limpiar</button>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-divider></mat-divider>
    </form>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="datosLista">

        <!-- Position Column -->
        <ng-container matColumnDef="comercio_codigo">
          <th mat-header-cell *matHeaderCellDef> Código del comercio </th>
          <td mat-cell *matCellDef="let element"> {{element.comercio_codigo }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="comercio_nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre del comercio  </th>
          <td mat-cell *matCellDef="let element"> {{element.comercio_nombre}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="comercio_direccion">
          <th mat-header-cell *matHeaderCellDef style="min-width: 20vw;"> Dirección del comercio </th>
          <td mat-cell *matCellDef="let element"> {{element.comercio_direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="Trans_estado">
          <th mat-header-cell *matHeaderCellDef> Estado de transacción </th>
          <td mat-cell *matCellDef="let element"> {{transactionStatus(element.Trans_estado)}} </td>
        </ng-container>

        <ng-container matColumnDef="Trans_fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha de transacción </th>
          <td mat-cell *matCellDef="let element"> {{formatDate(element.Trans_fecha)}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef style="width:100px"> </th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <button mat-icon-button color="primary" (click)="verDetalle(element)" matTooltip="Ver detalle">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button color="secondary" (click)="editar(element.comercio_codigo)" matTooltip="Editar">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>
  </mat-card-content>
</mat-card>
